In [58]:
import pandas
import sklearn
import numpy as np
import pandas as pd
import calendar

In [59]:
f = '/data/TransactDataClean_3110.csv'

In [60]:
clean_data=pd.read_csv(f)

In [61]:
# def test(val):
#     try:
#         a = int(val)
        
#     except ValueError as e:
#         print("Cant cast",val)
# clean_data['Customer ID'].apply(lambda x: test())
clean_data = clean_data[~clean_data['Customer ID'].isnull()]
# temp_n.info()

In [62]:
clean_data['Year'] = clean_data['InvoiceDate'].astype('datetime64[ns]').dt.year
clean_data['Month'] = clean_data['InvoiceDate'].astype('datetime64[ns]').dt.month
clean_data['Month'] = clean_data['Month'].apply(lambda x: calendar.month_name[x])
clean_data['Customer ID'] =  clean_data['Customer ID'].astype(int)
clean_data['Customer ID'] =  clean_data['Customer ID'].astype(str)
clean_data = clean_data[clean_data['Quantity'] > 0]
clean_data['Cost'] =  clean_data['Quantity'] * clean_data['Price']

In [63]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 795170 entries, 0 to 1045326
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      795170 non-null  object
 1   StockCode    795170 non-null  object
 2   Quantity     795170 non-null  int64
 3   InvoiceDate  795170 non-null  object
 4   Price        795170 non-null  float64
 5   Customer ID  795170 non-null  object
 6   Country      795170 non-null  object
 7   Description  795170 non-null  object
 8   Year         795170 non-null  int64
 9   Month        795170 non-null  object
 10  Cost         795170 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 72.8+ MB

In [22]:
clean_data[clean_data["StockCode"] == "85048"]

,Invoice,StockCode,Quantity,InvoiceDate,Price,Customer ID,Country,Description,Year
0,489434,85048,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,15CM CHRISTMAS GLASS BALL 20 LIGHTS,2009
390,C489518,85048,-1,2009-12-01 11:35:00,7.95,15461.0,United Kingdom,15CM CHRISTMAS GLASS BALL 20 LIGHTS,2009
611,C489528,85048,-1,2009-12-01 11:50:00,7.95,16714.0,United Kingdom,15CM CHRISTMAS GLASS BALL 20 LIGHTS,2009
1115,C489551,85048,-1,2009-12-01 12:35:00,6.95,17641.0,United Kingdom,15CM CHRISTMAS GLASS BALL 20 LIGHTS,2009
1235,489559,85048,12,2009-12-01 12:55:00,6.95,17056.0,United Kingdom,15CM CHRISTMAS GLASS BALL 20 LIGHTS,2009
...,...,...,...,...,...,...,...,...,...
1040273,581219,85048,1,2011-12-08 09:28:00,16.63,NaN,United Kingdom,15CM CHRISTMAS GLASS BALL 20 LIGHTS,2011
1040713,581238,85048,4,2011-12-08 10:53:00,16.63,NaN,United Kingdom,15CM CHRISTMAS GLASS BALL 20 LIGHTS,2011
1043523,C581463,85048,-2,2011-12-08 18:56:00,7.95,17526.0,United Kingdom,15CM CHRISTMAS GLASS BALL 20 LIGHTS,2011
1044268,581492,85048,2,2011-12-09 10:03:00,16.63,NaN,United Kingdom,15CM CHRISTMAS GLASS BALL 20 LIGHTS,2011
1044959,581498,85048,1,2011-12-09 10:26:00,16.63,NaN,United Kingdom,15CM CHRISTMAS GLASS BALL 20 LIGHTS,2011

In [65]:
temp=clean_data.groupby(["Country","Year","Customer ID"], as_index=False)["Cost"].agg(["sum"]).rename(columns = {'sum' :'Sales' })

In [32]:
temp2=clean_data.groupby(["Country","Year","Description"], as_index=False)["Cost"].agg(["sum"]).rename(columns = {'sum' :'Sales' })

In [66]:
temp.to_csv('/data/customer.csv')

In [33]:
temp2.to_csv('/data/product.csv')

In [35]:
!head -10 /data/product.csv

Country,Year,Description,Sales
Australia,2009,ANTIQUE SILVER TEA GLASS ETCHED,15.0
Australia,2009,CHARLOTTE BAG SUKI DESIGN,17.0
Australia,2009,CREAM FELT EASTER EGG BASKET,9.899999999999999
Australia,2009,HANGING HEART ZINC T-LIGHT HOLDER,20.4
Australia,2009,LUNCH BAG  BLACK SKULL.,16.5
Australia,2009,LUNCH BAG CARS BLUE,16.5
Australia,2009,PAPER BUNTING RETROSPOT,35.400000000000006
Australia,2009,PAPER BUNTING WHITE LACE,35.400000000000006
Australia,2009,PAPER CHAIN KIT RETROSPOT,35.400000000000006

In [24]:
temp_barchart=clean_data.groupby(["Country","Year","Month"], as_index=False)["Cost"].agg(["sum"]).rename(columns = {'sum' :'Sales' })

In [25]:
temp_barchart.to_csv('/data/barchart.csv')

In [67]:
!head -10 /data/customer.csv

Country,Year,Customer ID,Sales
Australia,2009,12422,75.0
Australia,2009,16321,196.10000000000002
Australia,2010,12386,517.8
Australia,2010,12387,143.94
Australia,2010,12388,1104.1000000000001
Australia,2010,12389,1433.33
Australia,2010,12392,234.75000000000003
Australia,2010,12393,816.85
Australia,2010,12400,205.25

In [68]:
!head -40 /data/barchart.csv

Country,Year,Month,Sales
Australia,2009,December,271.1
Australia,2010,April,630.95
Australia,2010,August,176.0
Australia,2010,December,1650.0
Australia,2010,February,1029.66
Australia,2010,July,631.12
Australia,2010,June,3214.78
Australia,2010,March,429.39
Australia,2010,May,1296.35
Australia,2010,November,18235.52
Australia,2010,October,2962.8
Australia,2010,September,785.83
Australia,2011,April,421.6
Australia,2011,August,22489.2
Australia,2011,February,14679.07
Australia,2011,January,8967.31
Australia,2011,July,4931.68
Australia,2011,June,25187.77
Australia,2011,March,17207.64
Australia,2011,May,13405.91
Australia,2011,November,7010.22
Australia,2011,October,17150.53
Australia,2011,September,5090.38
Austria,2009,December,1918.3400000000001
Austria,2010,April,1388.54
Austria,2010,August,1043.15
Austria,2010,December,157.2
Austria,2010,February,878.86
Austria,2010,June,268.1
Austria,2010,March,685.13
Austria,2010,May,502.03999999999996
Austria,2010,November,2477.6
Austria,2010,October,956.7
Austria,2010,September,1400.17
Austria,2011,April,505.58000000000004
Austria,2011,August,1436.08
Austria,2011,December,523.2
Austria,2011,February,438.36
Austria,2011,July,1111.95