In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel(r"C:\Users\Priyank Sharma\Downloads\online_retail_II.xlsx", sheet_name="Year 2009-2010")
df1.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [3]:
df2 = pd.read_excel(r"C:\Users\Priyank Sharma\Downloads\online_retail_II.xlsx", sheet_name="Year 2010-2011")
df2.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
print(df1.shape)
print(df2.shape)
df = df1.append(df2,ignore_index=True)
print(df.shape)

(525461, 8)
(541910, 8)
(1067371, 8)

In [5]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

In [6]:
df.isnull().sum()/df.shape[0]

Invoice        0.000000
StockCode      0.000000
Description    0.004105
Quantity       0.000000
InvoiceDate    0.000000
Price          0.000000
Customer ID    0.227669
Country        0.000000
dtype: float64

In [7]:
df_DescNotNull = df[df['Description'].notna()]

In [8]:
d1 = df_DescNotNull.groupby('StockCode')['Description'].nunique()
#d1.to_csv("P:\Priyank\Georgia Tech MS\Courses\Fall 2021\DVA CSE6242\Project\d1.csv")

In [9]:
d2 = df_DescNotNull.groupby(['StockCode','Description']).count()
#d2.to_csv("P:\Priyank\Georgia Tech MS\Courses\Fall 2021\DVA CSE6242\Project\d2.csv")

In [ ]:
#df_DescNotNull.StockCode = df_DescNotNull.StockCode.str.upper()

In [11]:
df_DescNotNull.drop(['Description'],axis=1,inplace=True)
df_DescNotNull.columns

C:\Anaconda_Install\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

Index(['Invoice', 'StockCode', 'Quantity', 'InvoiceDate', 'Price',
       'Customer ID', 'Country'],
      dtype='object')

In [10]:
prod_mapping = pd.read_csv("P:\Priyank\Georgia Tech MS\Courses\Fall 2021\DVA CSE6242\Project\d2.csv")

,Invoice,StockCode,Description_x,Quantity,InvoiceDate,Price,Customer ID,Country,Description_y
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,NaN
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,PINK CHERRY LIGHTS
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,WHITE CHERRY LIGHTS
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,NaN
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,NaN

In [15]:
df_DescNotNull['StockCode'] = df_DescNotNull['StockCode'].astype('str')
prod_mapping['StockCode'] = prod_mapping['StockCode'].astype('str')

<ipython-input-15-067ba824bf69>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_DescNotNull['StockCode'] = df_DescNotNull['StockCode'].astype('str')

In [17]:
df_DescNotNull.dtypes

Invoice                object
StockCode              object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object

In [14]:
prod_mapping.dtypes

StockCode      object
Description    object
dtype: object

In [18]:
df_DescNotNull2 = pd.merge(df_DescNotNull,prod_mapping,on=['StockCode'],how='left')
df_DescNotNull2.head()

,Invoice,StockCode,Quantity,InvoiceDate,Price,Customer ID,Country,Description
0,489434,85048,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,15CM CHRISTMAS GLASS BALL 20 LIGHTS
1,489434,79323P,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,PINK CHERRY LIGHTS
2,489434,79323W,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,WHITE CHERRY LIGHTS
3,489434,22041,48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,"RECORD FRAME 7"" SINGLE SIZE"
4,489434,21232,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,STRAWBERRY CERAMIC TRINKET BOX

In [ ]:
df_DescNotNull2.dtypes

In [22]:
df_DescNotNull2.isnull().sum()

Invoice             0
StockCode           0
Quantity            0
InvoiceDate         0
Price               0
Customer ID    232408
Country             0
Description         0
dtype: int64

In [21]:
df_DescNotNull2 = df_DescNotNull2[df_DescNotNull2['Description'].notna()]

In [25]:
df_DescNotNull2 = df_DescNotNull2.loc[df_DescNotNull2.Invoice != 530150,]

In [26]:
df_DescNotNull2.to_csv("P:\Priyank\Georgia Tech MS\Courses\Fall 2021\DVA CSE6242\Project\TransactDataClean_3110.csv",index=False)